{%- extends "base.html" -%}

{%- block title %}{{ t('site_name') }} - {{ t('states_and_uts') }}{% endblock -%}
{%- block description %}{{ t('tagline') }}{% endblock -%}
{%- block h1 %}{{ t('site_name') }}{% endblock -%}

{% block content %}
<h2 style="font-size:1.125rem">{{ t('quick_reference') }}</h2>
<p style="background:#fff3e0;padding:0.5rem;border:1px solid #e65100;margin:0.25rem 0"><b>{{ t('earthquake_drop') }}</b> {{ t('earthquake_action') }}<br><b>{{ t('cyclone_action_brief') }}</b> {{ t('cyclone_shelter') }}<br><b>{{ t('flood_action_brief') }}</b> {{ t('flood_warning') }}<br><b>{{ t('fire_action_brief') }}</b> {{ t('fire_action') }}<br><b>{{ t('gas_leak_brief') }}</b> {{ t('gas_leak_action') }}</p>

<h2 style="font-size:1.125rem">{{ t('states_and_uts') }}</h2>
<p>
{%- for state in states %}
<a href="{{ url('/state/' ~ state.slug ~ '/') }}">{{ state.display_name|default(state.name) }}</a>{% if not loop.last %} | {% endif %}
{%- endfor %}
</p>

{% if guides %}
<h2 style="font-size:1.125rem">{{ t('disaster_safety_guides') }}</h2>
<p>
{%- for gtype, guide in guides|dictsort %}
<a href="{{ url('/guide/' ~ gtype ~ '/') }}">{{ guide.title }}</a>{% if not loop.last %} | {% endif %}
{%- endfor %}
</p>
{% endif %}

<h2 style="font-size:1.125rem">{{ t('helplines_and_resources') }}</h2>
<p><b>{{ t('mental_health') }}</b><br>
iCall: <a href="tel:+919152987821">+91-9152987821</a><br>
Vandrevala Foundation: <a href="tel:18602662345">1860-2662-345</a></p>
<p><b>{{ t('other_helplines') }}</b><br>
{{ t('women_helpline') }} <a href="tel:181">181</a><br>
{{ t('child_helpline') }} <a href="tel:1098">1098</a><br>
{{ t('senior_citizen') }} <a href="tel:14567">14567</a></p>

<h2 style="font-size:1.125rem">{{ t('government_resources') }}</h2>
<p>
<a href="https://pmcares.gov.in/en/">{{ t('pm_cares_fund') }}</a> |
<a href="https://ndma.gov.in">NDMA</a> |
NDRF: <a href="tel:+919711077372">+91-9711077372</a><br>
<a href="https://sachet.ndma.gov.in">{{ t('sachet_early_warnings') }}</a> |
{{ t('ndma_toll_free') }} <a href="tel:18001100551">1800-11-0551</a><br>
{{ t('ndma_control_room') }} <a href="tel:01126701728">011-26701728</a>
</p>
{% endblock %}
